body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game {
    width: 80%;
    height: 90%;
    position: relative;
    border: 2px solid white;
    overflow: hidden;
}

#nave {
    width: 50px;
    height: 50px;
    background-color: lime;
    position: absolute;
    left: 50%;
    background-image: url();
}

.coluna {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
  
.inimigo {
    width: 70px;
    height: 70px;
    background-color: aqua;
}
.projetil{
    width: 10px;
    height: 10px;
    background-color: red;
}
  